<footer>
    <!-- Jaar van laaste update -->
    <p>© {% year %} Chiro Herent</p>
    <p><a class="maps" href="https://goo.gl/maps/Uh1MN5SQFpmxxETr8">Broekveldstraat 33, 3020 Herent</a></p>
    <p><a class="email" href="mailto:leiding.chiroherent@gmail.com" target="_top">leiding.chiroherent@gmail.com</a></p>
    <p><a class="privacy" href="/media/Privacyverklaring-Chiro-Herent.pdf" target="_blank">Privacyverklaring</a></p>
    </div>
</footer>