<header>
    <div class="container">
        <a href="/"><img class="logo" src="{{ '/media/chiroherent.png' | url }}" alt="{{ metadata.name }}" /></a>
        <img class="hamburger" src="{{ '/media/hamburger.png' | url }}" onclick="hamburgerMenu()" />
        <nav id="navbar">
            {#- De navbar wordt gemaakt door eleventy, het bevat alle pagina's met 'eleventyNavigation' in hun front matter #}
            <ul>
                {%- for entry in collections.all | eleventyNavigation -%}
                {%- if page.url==entry.url %}
                <li class="huidig" aria-current="page">{{ entry.title }}</li>
                {%- else %}
                <li><a href="{{ entry.url | url }}">{{ entry.title }}</a></li>
                {%- endif %}
                {%- endfor %}
            </ul>
        </nav>
    </div>
</header>
<!-- navbar.js zorgt voor het hamburger menu op smalle schermen -->
<script src="{{ '/scripts/navbar.js' | url }}"></script>