<header>
    <div class="container">
        <a href="/index"><img class="logo" src="/media/Chiroherent.svg" alt="Chiro Herent" /></a>
        <img class="hamburger" src="/media/hamburger.png" onclick="hamburgerMenu()" />
        <nav id="navbar">
            <!-- De navbar wordt bepaald door script/navbar.js en kan dus niet hier aangepast worden -->
            <ul>
                <li><a href="/">HOME</a></li>  <!--<li class="huidig">HOME</li>-->
                <li><a href="/leiding">LEIDING</a></li>
                <li><a href="/lidworden">LID WORDEN</a></li>
                <li><a href="/verhuur">VERHUUR</a> </li>
            </ul>
        </nav>
    </div>
</header>
<script src="/scripts/navbar.js"></script>
<!-- navbar.js zorgt voor het hamburger menu op smalle schermen en bepaalt de lijst met pagina's in de navbar -->