
body {
    margin: 0 auto;
    background: white;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;

}
#faq div{
    padding: 5px;
}


/*css header*/

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.container img{
    height: 70px;
    width: 70px;
}

header {
    background: #35424a;
    color: #ffffff;
    min-height: 70px;
    border-bottom: #e41937 3px solid;
    margin-left: auto;
    margin-right: auto;
}

header::after {
    content: '';
    display: table;
    clear: both;

}

nav .logo {
    float: left;
    padding: 10px;

}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 65px;
    padding-top: 23px;

    position: relative;
}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav a:hover {
    color: #e41937;
    font-weight: bold;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: rgba(228, 25, 55, 0.82);

    position: absolute;
    top: 0;
    width: 0;

    transition: all ease-in-out 150ms;
}



nav a:hover::before {
    width: 100%;
}

header .huidig {
    color: #e41937;
    font-weight:bold;
}

/*css body index*/

p{
    font-size: 15px;
    color: black;
    font-weight: normal;

}

h1{
    font-size: 18px;
    color: black;
    font-weight: bold;

}

.indexmain {
    display: grid;
    grid-template-columns: 7fr 3fr;
    grid-column-gap: 3em;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.indexmain img{
    height: auto;
    max-width: 400px;
    display: block;
    padding-bottom: 10px;
    overflow: hidden;
}

.maintitel{
    font-size: 25px;
    text-align: center;
}

.left{
    margin-right: 5px;
    text-align: left;
}

.left #takken{
    height: 167px;
    width: 470px;
}



.right{
    overflow: hidden;
    padding-bottom: 10px;
}
iframe{
    margin-bottom: 1px;
}

#imgtxt{
    color: #f1f1f1;
    padding-top: 25px;
    text-shadow: 1px 1px #060102;


}

.showcase{
    background: url("Homepagina.jpeg") no-repeat;
    background-size: cover;
    background-position: 80% 20%;
    min-height: 400px;
    text-align: center;
    color: #ffffff;
    overflow: hidden;
    border-bottom: #e31937 3px solid;
}

.showcase h1{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}

.showcase p{
    font-size: 20px;
}

/*css body leiding*/
.showcase1{
    background: url("Leidingspagina.jpeg") no-repeat 0-300px;
    background-size: cover;
    background-position: 50% 50%;
    min-height: 400px;
    text-align: center;
    color: #e41937;
    overflow: hidden;
    border-bottom: #e41937 3px solid;
}

.leiding {
    padding-left: 10px;
    display: grid;
    grid-template-columns: repeat(6,2fr);
    grid-column-gap: 3em;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    font-size: 13px;
}



.leiding h3 {
    color: #FFFFFF;
    background-color: midnightblue;
    max-width: 110px;
}


/*css footer*/
footer img{
    width: 140px;
    height: 65px;
}
#maps{
    color: lightblue;
}

#email{
    color: lightblue;
}

footer {
    position: relative;
    height: 255px;
    width: 100%;
    background-color: #35424a;
    color: white;
    text-align: center;
    border-top: #e41937 3px solid;
}

footer p{
    color: #FFFFFF;
}
/*verhuur css*/

.verhuur main{
    display: block;
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
}

#infra{
    padding-top: 10px;
}

#hal{
    padding-bottom: 20px;
    padding-top: 10px;
}

.showcase3{
    background: url("verhuur.PNG") no-repeat 0-100px;
    background-size: cover;
    background-position: 50% 50%;
    min-height: 400px;
    text-align: center;
    color: #e41937;
    overflow: hidden;
    border-bottom: #e41937 3px solid;
}

/*contact css*/

main{
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.lidworden{
    text-align: left;
    display: block;
}

.lidworden a{
    text-decoration: none;

}

.showcase2{
    background: url("leden.jpg") no-repeat 0-350px;
    background-size: cover;
    background-position: 50% 50%;
    height: 400px;
    text-align: center;
    color: #e41937;
    overflow: hidden;
    border-bottom: #e41937 3px solid;
}

/*responsive css*/

@media only screen and (max-width: 386px) {
    .container{
        display: flex;
        justify-content: center;
    }
    .container img{
        display: none;
    }
    .container nav a{
        padding-right: 30px;
    }
    .container image{
        display: none;
    }
    main{
        display: block;
    }
    .leidings{
        grid-area: span 1 / span 6;
    }

    .verhuur iframe{
        display: none;
    }
    .showcase3{
        display: none;
    }

    .showcase{
        display: none;
    }

    .showcase1{
        display: none;
    }

    .showcase2{
        display: none;
    }

}

@media only screen and (max-width: 490px ) {
    .container nav img{
        display: none;
    }
    .container header image{
        display: none;
    }
    .container nav a{
        justify-content: start;
        padding-right: 1px;
        font-size: 15px;
        padding-bottom: 10px;
        display: inline-block;
    }
    main{
        display: block;
    }


    .verhuur iframe{
        display: none;
    }
    .showcase3{
        display: none;
    }

    .showcase{
        display: none;
    }

    .showcase1{
        display: none;
    }

    .showcase2{
        display: none;
    }
}
@media only screen and (max-width: 600px){
    .container nav ul li{
        width: 100%;
        padding-left: 0;
    }
    .container nav img{
        padding-right: 25px;
        padding-left: 20px;
        padding-bottom: 10px;
    }
    .indexmain{
        display: block;
    }


    .verhuur iframe{
        display: none;
    }
    .showcase3{
        display: none;
    }

    .showcase{
        display: none;
    }

    .showcase1{
        display: none;
    }

    .showcase2{
        display: none;
    }
}
@media only screen and (max-width: 700px) {
    .leiding{
        display: block;
    }
    .container nav ul li{
        float: left;
        display: inline;
        width: 100%;
    }
    .container nav img{
        padding-right: 30px;
        padding-left: 20px;
        padding-bottom: 10px;
    }
    .indexmain{
        display: block;
    }

    main{
        display: block;
    }
    .showcase3{
        display: none;
    }

    .showcase{
        display: none;
    }

    .showcase1{
        display: none;
    }

    .showcase2{
        display: none;
    }
}

@media only screen and (max-width: 900px) {
    nav a{
        padding-right: 45px;
        font-size: 15px;
        padding-left: 0;
    }
    nav img{
        padding-right: 100px;
        padding-left: 20px;
        padding-bottom: 10px;
    }
    .indexmain{
        grid-template-columns: 6fr 4fr;
        grid-column-gap: 2em;
    }
    .leidings{
        grid-area: span 4 / span 2;
    }
    .showcase3{
        display: none;
    }

    .showcase{
        display: none;
    }

    .showcase1{
        display: none;
    }

    .showcase2{
        display: none;
    }
}