---
order: 80
tags:
- HomepageRight
eleventyExcludeFromCollections: false
---

<h3 id="kampkloktitel">Kamp van {{ jaardata.beginKamp[0] }} {{ jaardata.beginKamp[1] | numberToMonth }} tot {{ jaardata.eindeKamp[0] }} {{ jaardata.eindeKamp[1] | numberToMonth }}</h3>

<script src="https://cdn.jsdelivr.net/npm/add-to-calendar-button@2" async defer></script>
<add-to-calendar-button id="add-to-calendar-button"
  name="Kamp Chiro Herent"
  description="Het leukste Chiromoment van het jaar!"
  startDate="07-20"
  startTime="09:00"
  endDate="07-30"
  endTime="13:00"
  timeZone="Europe/Brussels"
  organizer="{{ metadata.name }}|{{ metadata.email }}"
  iCalFileName="chirokamp"
  options="'Apple','Google','iCal','Outlook.com'"
  listStyle="dropup-static"
  hideCheckmark
  label="Voeg toe aan agenda"
  lightMode="bodyScheme"
  language="nl"
></add-to-calendar-button>

<div
  style="background-image: url('{{ '/media/kampklokachtergrond.jpg' | url }}');  background-size: 100% 250%; background-position: 00% 40%; background-repeat:repeat; width: 100%; height: 250px; overflow: hidden">
  <script>
    beginVoorKamp = [{{ jaardata.beginVoorKamp }}];
    beginKamp = [{{ jaardata.beginKamp }}];
    eindeKamp = [{{ jaardata.eindeKamp }}];
</script>
  <div class="centered">
    <h2 id="kampkloktitel" class="kampklok">Kampklok</h2>
    <p id="kampklokuitleg" class="kampklok">Sta JavaScript toe om af te tellen naar kamp</p>
    <p id="kampkloktijd" class="kampklok"></p>
    <p id="kampklokinfo" class="kampklok">Hopelijk tot snel op kamp!</p>
  </div>
  <script src="{{ '/scripts/kampklok.js' | url }}"></script>
</div>