---
order: 80
tags:
  - HomepageRight
eleventyExcludeFromCollections: false
---

<h3>Kamp van 20 juli tot 30 juli</h3>
<iframe src="/kampklok" allowtransparency="true" frameborder="0" width="100%" height="250px" scrolling="no"
    style="overflow: hidden;"></iframe>