---
order: 10
tags:
  - HomepageLeft
eleventyExcludeFromCollections: false
---

<h3 id="titel">Titel</h3>
<p>paragraaf 1, met <strong>vette tekst</strong></p>
<p>Paragraaf 2 <a href="https://iets">Link text</a> verder paragraaf 2</p>
<h2 id="grotere-titel">Grotere titel</h2>
<ul>
  <li>lijst item</li>
  <li>lijst item<ul>
      <li>subitem</li>
    </ul>
  </li>
  <li>etc.</li>
</ul>
<ol>
  <li>genummerd lijst item</li>
  <li>genummerd lijst item</li>
  <li>etc.</li>
</ol>
<p>paragraaf 3, met <em>schuine tekst</em></p>
<p><img src="/media/fairtrade.png" alt="afbeelding"></p>