---
title: Wie zijn wij?
date: 2016-01-01
tags:
  - HomepageLinks
eleventyExcludeFromCollections: false
permalink: false
---

      <p>De Chiro is een organisatie door, maar vooral voor jongeren, gelegen in de Broekveldstraat 33, tegenover de
        Carrefour/GB van Herent. Het is een plaats waar de kinderen zich kunnen uitleven, spelen en ravotten,
        knutselen en origineel zijn. Maar het is tevens een plaats waar groepsgeest, samenhorigheid en eendracht
        primeren. Voor elke leeftijdscategorie is er een groep voorzien, er is dus voor ieder wat wils.</p>
      <p>Vanaf 6 jaar kan je terecht bij de Kiekeboes. Bij de kiekeboes en Speelclub zitten alle leden gemengd. Daarna
        zijn er gesplitste groepen. Zo is er een groep voor iedereen tot en met 18, na twee jaar bij de aspi's kan je
        leiding
        worden.</p>
      <table class="takken-table">
        <tbody>
          <tr>
            <td>6-8 Jaar</td>
            <td colspan="2">Kiekeboes</td>
            <td rowspan="2">14h-17h</td>
          </tr>
          <tr>
            <td>8-10 Jaar</td>
            <td colspan="2">Speelclub</td>
          </tr>
          <tr>
            <td>10-12 Jaar</td>
            <td>Rakkers</td>
            <td>Kwikken</td>
            <td rowspan="2">14h-18h</td>
          </tr>
          <tr>
            <td>12-14 Jaar</td>
            <td>Toppers</td>
            <td>Tippers</td>
          </tr>
          <tr>
            <td>14-16 Jaar</td>
            <td>Kerels</td>
            <td>Tiptiens</td>
            <td rowspan="3">14h-19h</td>
          </tr>
          <tr>
            <td>16-18 Jaar</td>
            <td>Aspi Jongens</td>
            <td>Aspi Meisjes</td>
          </tr>
          <tr>
            <td>18-?? Jaar</td>
            <td colspan="2">Leiding</td>
          </tr>
        </tbody>
      </table>

      <p><b>Lidgeld:</b> Het lidgeld bedraagt 40 euro per lid per jaar.</p>
      <p><a href="/lidworden/">Klik hier voor meer info of om je in te schrijven</a></p>