<!DOCTYPE html>
<html lang="nl-BE">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/media/favicon.ico" type="image/x-icon">
    <title>{{ title }}</title>
  </head>

  <body>

    {% include 'header.njk' %}
    {{ content | safe }}
    {% include 'footer.njk' %}

  </body>

</html>