---
permalink: 404.html
---

<!DOCTYPE html>
<meta http-equiv="refresh" content="0; url=/" /> <!-- De 404 pagina is een redirect naar index.html -->
<html lang="{{ metadata.language }}">

<head>
    <title>404 - Chiro Herent</title>
</head>

</html>