---
title: Leiding
layout: 'layouts/base.njk'
tags:
  - navbar
order: 20
mainclass: leiding
showcase: 
  image: '/media/leidingspagina.jpg'
  title: Leiding
  placement: '50% 50%'
---

{#- De info hier wordt bepaald door _data/leiding.yaml -#}
{% for class, groupObj in {
verantwoordelijken: {hoofdleiding: "Hoofdleiding", vb: "Volwassen begeleiders"},
kiekeboes: {kiekeboes: "Kiekeboes"},
speelclub: {speelclub: "Speelclub"},
rakwis: {kwikken: "Kwikken", rakkers: "Rakkers"},
titos: {tippers: "Tippers", toppers: "Toppers"},
ketis: {tiptiens: "Tiptiens", kerels: "Kerels"},
aspis: {aspimeisjes: "Aspi-meisjes", aspijongens: "Aspi-jongens"}
} %}
<div class="{{ class }}">
  {% for group, groupName in groupObj %}
  <h3>{{ groupName}}</h3>
  <ul id="{{ group }}">
    {% for leiding in leiding[group] %}
    <li><strong>{{ leiding.name }}</strong>
      <ul>
        {% if leiding.email != null %}<li><a href="mailto:{{ leiding.email }}">{{ leiding.email }}</a></li>{% endif %}
        {% if leiding.phone != null %}<li>{{ leiding.phone }}</li>{% endif %}
      </ul>
    </li>
    {% endfor %}
  </ul>
  {% endfor %}
</div>
{% endfor %}