---
title: Leiding - Chiro Herent
layout: 'layouts/base.njk'
---

<section class="showcase" style="background-image: url('/media/leidingspagina.jpg'); background-position: 50% 50%;">
  <h1 class="showcasetext">Leiding</h1>
</section>
<div id="leiding" class="leiding">
  <!-- De info hier wordt bepaald door script/leiding.js en kan dus niet hier aangepast worden -->
  <div class="verantwoordelijken">
    <h3>Hoofdleiding</h3>
    <dl id="hoofdleiding">
      <dt><strong>Javascript niet geladen, zet Javascript terug aan om de leiding te zien</strong></dt>
      <dd><a href="mailto:leiding.chiroherent@gmail.com">leiding.chiroherent@gmail.com</a></dd>
      <dd>0497 00 00 00</dd>
    </dl>
    <h3>Volwassen begeleiders</h3>
    <dl id="vb">
      <dt><strong>Of vind de namen terug in de moetjeslezen</strong></dt>
      <dd><a href="">mail@example.com</a></dd>
      <dd>0497 00 00 00</dd>
    </dl>
  </div>
  <div class="kiekeboes">
    <h3>Kiekeboes</h3>
    <dl id="kiekeboes">
      <dt><strong>Of lees de functies op chiroherent.be/scripts/leiding.js</strong></dt>
      <dd><a href="">mail@example.com</a></dd>
    </dl>
  </div>
  <div class="speelclub">
    <h3>Speelclub</h3>
    <dl id="speelclub">
      <dt><strong>Naam</strong></dt>
      <dd><a href="">mail@example.com</a></dd>
    </dl>
  </div>
  <div class="rakwis">
    <h3>Kwikken</h3>
    <dl id="kwikken">
      <dt><strong>Naam</strong></dt>
      <dd><a href="">mail@example.com</a></dd>
    </dl>
    <h3>Rakkers</h3>
    <dl id="rakkers">
      <dt><strong>Naam</strong></dt>
      <dd><a href="">mail@example.com</a></dd>
    </dl>
  </div>
  <div class="titos">
    <h3>Tippers</h3>
    <dl id="tippers">
      <dt><strong>Naam</strong></dt>
      <dd><a href="">mail@example.com</a></dd>
    </dl>
    <h3>Toppers</h3>
    <dl id="toppers">
      <dt><strong>Naam</strong></dt>
      <dd><a href="">mail@example.com</a></dd>
    </dl>
  </div>
  <div class="ketis">
    <h3>Tiptiens</h3>
    <dl id="tiptiens">
      <dt><strong>Naam</strong></dt>
      <dd><a href="">mail@example.com</a></dd>
    </dl>
    <h3>Kerels</h3>
    <dl id="kerels">
      <dt><strong>Naam</strong></dt>
      <dd><a href="">mail@example.com</a></dd>
    </dl>
  </div>
  <div class="aspis">
    <h3>Aspi-meisjes</h3>
    <dl id="aspimeisjes">
      <dt><strong>Naam</strong></dt>
      <dd><a href="">mail@example.com</a></dd>
    </dl>
    <h3>Aspi-jongens</h3>
    <dl id="aspijongens">
      <dt><strong>Naam</strong></dt>
      <dd><a href="">mail@example.com</a></dd>
    </dl>
  </div>
</div>
<script src="/scripts/leiding.js"></script>
<!-- leiding.js bepaalt de lijst met welke leiding in welke groep zit en hun e-mail en zo -->