---
title: Lid Worden
layout: 'layouts/base.njk'
tags:
  - navbar
order: 30
showcase: 
  image: '/media/leden.jpg'
  title: Lid Worden?
  placement: '50% 50%'
---

<div class="lidworden">
  <p>Ben je op zoek naar spanning en actie?</p>
  <p>Maak je graag vrienden?</p>
  <p>Verveel je je ook wel eens op een zondag?</p>
  <p>Ben je creatief?</p>
  <p>Zoek je nog iets naast school of de sportclub?</p>
  <p>Mag de TV of de Playstation wel eens uit?</p>
  <p>Alle kinderen en jongeren tussen de 6 en 18 jaar oud die op een van deze vragen JA hebben geantwoord zijn
    gemaakt voor de Chiro van Herent! Iedere zondag om 14u doen we de meest ongelooflijke dingen ter wereld, iets
    wat iedereen wel leuk moet vinden...</p>
  <h3>Inschrijvingen 2023-2024</h3>
  <p> <a href="https://docs.google.com/forms/d/e/1FAIpQLSfq8TBhX4lqq-df-EHd1sh4O5Mmmcu-7Wm5Tz3u_RE57Ji-TA/viewform"
      target="_blank">Hier
      kan u uw kind inschrijven voor het nieuwe jaar.</a> Vergeet ook niet per kind 40 euro lidgeld te storten op
    rekeningnummer BE43 0682 1615 2201. Vermeld hierbij de naam van het kind en de afdeling. We werken niet met
    wachtlijsten dus je kan op ieder moment inschrijven, er is plek genoeg!
    Inschrijven voor de jongste groep kan voor kinderen die geboren zijn in 2016-2017
    Als je zoon/dochter jonger is dan geboortejaar 2017 kunnen we hen niet verzekeren, dus is aansluiten bij de
    chiro nog niet mogelijk.</p>

    {% include 'takken-table.njk' %}
</div>