---
title: Template
favicon: '/media/favicon.ico'
layout: 'layouts/base.njk'
eleventyNavigation:
  key: Template
  order: 80
mainclass: pagina
showcase: 
  image: '/media/kampklokachtergrond.jpg'
  title: Template
  placement: '50% 67%'
---

<h2>Titel</h2>
<p>paragraaf 1, met <strong>vette tekst</strong></p>
<p>Paragraaf 2 <a href="https://iets">Link text</a> verder paragraaf 2</p>
<h3>Kleinere titel</h3>
<ul>
  <li>lijst item</li>
  <li>lijst item<ul>
      <li>subitem</li>
    </ul>
  </li>
  <li>etc.</li>
</ul>
<ol>
  <li>genummerd lijst item</li>
  <li>genummerd lijst item</li>
  <li>etc.</li>
</ol>
<p>paragraaf 3, met <em>schuine tekst</em></p>
<p><img src="/media/fairtrade.png" alt="afbeelding"></p>