---
title: Template
layout: 'layouts/base.njk'
tags:
  - navbar
order: 80
showcase: 
  image: '/media/kampklokachtergrond.jpg'
  title: Template
  placement: '50% 67%'
---

<div class="verhuur">
    <main>
        <h2>Subtitel</h2>
        <p>tekst</p>
        <p>tekst <a href="link">link text</a></p>
        <h3>Kleinere Subtitel</h3>
        <p>tekst</p>
    </main>
</div>