---
title: Verhuur
layout: 'layouts/article.njk'
tags:
  - navbar
order: 40
divclass: verhuur
showcase: 
  image: '/media/verhuur.jpg'
  title: Verhuur
  placement: '50% 50%'
---

<h2>Lokalenverhuur</h2>
<p>Chiro Herent verhuurt zijn lokalen aan officieel erkende jeugdverenigingen die op weekend willen (2 nachten).
  De prijs bedraagt 200,00 euro voor de lokalen en 120,00 euro forfaitaire bijdrage voor het gebruik van water,
  elektriciteit, verwarming en vuilniszakken. Ook vragen wij een waarborg van 350,00 euro. </br>
  Onze lokalen worden niet verhuurd aan leidingsgroepen en niet voor (in)leefweken of kampen.
  Wij verhuren onze lokalen ook niet voor één nacht.
  De maximale capaciteit van de lokalen is 30 personen. Ook beperken wij het verhuren aan groepen waarvan de
  leden ouder zijn dan 12 jaar.</p>
<p>Verdere informatie kan u vinden in ons
  <a href="/media/HUUROVEREENKOMST-CHIROLOKALEN-HERENT-2022-2023.pdf" target="_blank">contract</a>.<br />
  Wilt u onze lokalen huren of wilt u meer informatie?
  Stuur dan een mail naar <a href="mailto:chiroherentverhuur@gmail.com">chiroherentverhuur@gmail.com</a>
</p>
<div class="infra">
  <h3>Infrastuctuur</h3>
  <ul>
    <li>Keuken met 4 gasvuren, grote koelkast, borden, bestek en kookgerei</li>
    <li>Een kantine/eetzaal</li>
    <li>Wc's met lavabo</li>
    <li>3 lokalen</li>
    <li>Asfalt speelplaats</li>
    <li>Groot grasveld</li>
    <li>Supermarkt aan de overkant van de straat</li>
  </ul>
</div>
<div class="hal">
  <h3>Beschikbaarheid</h3>
  <p>Kijk snel op onze kalender of stuur een e-mail.</p>
  <iframe src="https://calendar.google.com/calendar/embed?src=chiroherentverhuur%40gmail.com&ctz=Europe%2FBrussels"
    style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div>
<h3>Tenten</h3>
<p>Onze tenten worden helaas niet verhuurd.</p>